tqdm 
fasttext
numpy
matplotlib
Levenshtein
gensim
transformers[torch]
torch==1.9.0
sentence-transformers
pandas
git+https://github.com/mariolpantunes/semantic@v1.4#egg=semantic
datasets
scipy==1.10.1